# Configuración del Servidor
NODE_ENV=development
PORT=9092

# Configuración de la Base de Datos
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=tu_contraseña_segura_aqui
DB_NAME=EvaluacionesDesem
# Configuración de JWT
JWT_SECRET=tu_jwt_secret_muy_largo_y_seguro_aqui
JWT_EXPIRES_IN=30d
JWT_COOKIE_EXPIRES=30

# Configuración de CORS
CLIENT_URL=http://localhost:3000

# Configuración de Correo Electrónico 
EMAIL_HOST=smtp.ejemplo.com
EMAIL_PORT=587
EMAIL_USER=tu_email@ejemplo.com
EMAIL_PASS=tu_app_password
EMAIL_SECURE=false  # Usa STARTTLS
EMAIL_FROM=tu_email@ejemplo.com

# Configuración del remitente
APP_EMAIL=no-reply@tu-dominio.com
APP_NAME="Sistema de Evaluación de Desempeño"

# Configuración de la URL de la API
API_URL=http://localhost:9092/api

# Configuración de la URL del Frontend
FRONTEND_URL=http://localhost:3000
