# Configuración del Servidor
NODE_ENV=development
PORT=5000

# Configuración de la Base de Datos
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=Sol2025**
DB_NAME=EvaluacionesDesem
# Configuración de JWT
JWT_SECRET=tu_clave_secreta_muy_segura
JWT_EXPIRES_IN=30d
JWT_COOKIE_EXPIRES=30

# Configuración de CORS
CLIENT_URL=http://localhost:3000

# Configuración de Correo Electrónico 
EMAIL_HOST=smtp.zoho.com
EMAIL_PORT=587
EMAIL_USER=desarrollo@solucionescorp.com.co
EMAIL_PASS=KjwjyuCYwjuY
EMAIL_SECURE=false  # Usa STARTTLS

# Configuración del remitente
APP_EMAIL=no-reply@solucionescorp.com
APP_NAME="Sistema de Evaluación de Desempeño"

# Configuración de la URL de la API
API_URL=http://localhost:5000/api

# Configuración de la URL del Frontend
FRONTEND_URL=http://localhost:3000
